.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background: #854802;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-new{
  width: 100px;
  height: 30px;
  background: #c18308;
  color: #fff;
  border: 2px solid #fff;
  margin-bottom: 50px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: flex;
  justify-content: center;
 align-items: center;
 width: 100%;
 height: 100vh;
 background: #854802;
}

.content form{
  display: flex;
  flex-direction: column;
}

.error{
  color: red;
}

.img-content{
  display: flex;
  justify-content: center;
  width: 800px;
  align-items: center;
  background: repeating-linear-gradient(45deg, #00000030, transparent 100px);
  height: 90vh;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.849);
}
.img-content img{
  width: 50%;
  height: 90vh;
}

.content{
  display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.content h1{
  font-size: 45px;
  color: #fff;
  padding: 20px 0px;
}

.content input{
  width: 100%;
  height:30px;
  margin-bottom: 12px;
}

.fa-solid{
  transform: translate(99px, -44px);
}

.remember {
  display: flex;
  font-size: 15px;
  
}
.remember label{
  display: flex;
 
}

.remember input[type='checkbox']{
  width: 15px;
}

.remember p{
  transform: translate(10px, -8px);
}

form button{
  height: 30px;
  background: #EF9F00;
  border: 2px solid #c18308;
  border-style: groove;
  cursor: pointer;
  color: #fff;
}

.thanks h1{
  color: h1;
}

.container{
 display: flex;
 width: 100%;
 flex-wrap: wrap;
 height: 100vh;
}

.container-new{
  display: flex;
 width: 100%;
 flex-wrap: wrap;
 height: auto;
}


.all-content{
  border: 4px solid #2b1f05;
  flex-grow: 1;
  flex-basis: 200px;
  margin: 100px 80px;
  background: #fff;
  cursor: pointer;
  padding: 10px 15px;
  
 
}

.all-content span{
  padding-bottom: 12px;
}

.all-content:hover{
  box-shadow: 5px 5px 10px inset #303030, 5px 5px 10px #303030 ;
}
.all-content img{
  width: 300px;
}

header{
  width:100% ;
  height: 100px;
  background: #fff;
}

.lists{
  display: flex;
  justify-content: center;
}
.logo{
  width: 40%;
  
}
.logo h1{
  transform: translate(-108px, 10px);
}
.logo img{
  float:left;
}
.all-list ul{
  display: inline-flex;
  padding: 15px 0px;
}

.all-list ul li{
  list-style: none;
}

.logo h1{
  color: #c18308;
}

.all-list ul li a{
  text-decoration: none;
  padding: 10px 30px;
  color: #a15600;
  font-weight: 700;
}
@media (max-width:768px) {
  .container {
      height: auto;
      min-height: 100vh;
      padding: 20px;
  }
  .img-content {
    flex-direction: row;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.fa-solid{
  display: none;
}
.img-content img {
  width: 50%;
  display: none;
  max-height: 90vh;
}

.thanks h1{
  color: #ffff;
}
.content {
  width: 50%;
  height: auto;
  padding: 20px;
}
}